.weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fff;
}

body {
  background-image: url("images/pink-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.default-location {
  text-align: center;
  position: relative;
  left: -30px;
}

.search-form {
  background-color: #fce2e1;
  border: transparent;
}

.button {
  background-color: #fec9cb;
  border: transparent;
  color: #fff;
}
.button:hover {
  background-color: #fabdbf;
  border: transparent;
  color: #e3e3e3;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

h1 {
  font-size: 55px;
}

li {
  opacity: 0.6;
}

.default-temperature-icon {
  font-size: 70px;
  position: relative;
  right: -15px;
  bottom: -35px;
}

.default-temperature-icon img {
  height: 120px;
  width: 120px;
}

.default-temperature {
  font-size: 50px;
}
.current-temperature-unit {
  position: relative;
  top: -25px;
  font-size: 20px;
}
.temperature-unit {
  text-decoration: none;
}

.default-data .active {
  color: black;
  cursor: default;
}
.default-data .active:hover {
  text-decoration: none;
}

.default-info {
  position: relative;
  right: -130px;
  top: -20px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.weather-status {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}

.footer {
  text-align: center;
  font-family: monospace;
  font-size: 13px;
}
.coder-name {
  color: #5e6769;
}
.code-source {
  text-decoration: none;
}
