.weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #025962;
  border-radius: 10px;
}

body {
  background-image: url("images/sky-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.default-location {
  text-align: center;
}

h1 {
  font-size: 60px;
}

.default-temperature-icon {
  font-size: 70px;
  position: relative;
  right: -190px;
  bottom: -20px;
}

.default-data {
  position: relative;
  right: -60px;
}
.default-temperature {
  font-size: 60px;
}
.current-temperature-unit {
  position: relative;
  top: -30px;
  font-size: 20px;
}
.temperature-unit {
  text-decoration: none;
}

.default-data .active {
  color: black;
  cursor: default;
}
.default-data .active:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.weather-status {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}

.footer {
  text-align: center;
  font-family: monospace;
  font-size: 13px;
}
.coder-name {
  color: #025962;
}
.code-source {
  text-decoration: none;
}
